@model IEnumerable<CriminalManagementSystem.Models.Facility>

@{
    ViewBag.Title = "Facilities";
}

<h2>Facilities</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.FacilityName)</th>
            <th>@Html.DisplayNameFor(model => model.FacilityType)</th>
            <th>@Html.DisplayNameFor(model => model.Capacity)</th>
            <th>@Html.DisplayNameFor(model => model.Warden)</th>
            <th>Actions</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FacilityName)</td>
            <td>@Html.DisplayFor(modelItem => item.FacilityType)</td>
            <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
            <td>@Html.DisplayFor(modelItem => item.Warden)</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.FacilityID }, new { @class = "btn btn-info btn-sm" })
                @Html.ActionLink("Edit", "Edit", new { id = item.FacilityID }, new { @class = "btn btn-warning btn-sm" })
            </td>
        </tr>
    }

</table>
