@model IEnumerable<CriminalManagementSystem.Models.ProbationOfficer>

@{
    ViewBag.Title = "Probation Officers";
}

<h2>Probation Officers</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Officer</th>
            <th>Badge Number</th>
            <th>Specialization</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.User.FullName</td>
                <td>@item.BadgeNumber</td>
                <td>@item.Specialization</td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.OfficerID }, new { @class = "btn btn-info btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>